*.class
*.o

src/java/com_vspro_util_RadioModel.h
src/java/data
src/java/lib/RadioModel.dll
src/java/lib/RadioModel.lib
src/java/lib/libRadioModel.so
src/java/RadioModel.zip
src/java/doc

src/dll/distort.dll

plugin/qmake/Makefile.Debug
plugin/qmake/Makefile.Release
plugin/qmake/debug/
plugin/qmake/libradio.plugin
